.heading-text
{
    font-weight:422;
    text-align: center;
}

.iconFocus
{
  cursor: pointer;
  padding: 5px;
  float: right;
}
.text-style
{
  cursor: pointer;
  padding: 5px;
}
.tilte-head {
    height: 40px;
    box-sizing: border-box;
    border: 0.5px solid whitesmoke;
    background-color:whitesmoke;
    cursor: default;
  }
  .content-part
  {
    padding: 15px;
  }