<div class="tilte-head">
    <span class="heading-text text-style">Add New Item</span>
    <span class="iconFocus material-icons" (click)="close()">cancel</span>
    <span class="iconFocus material-icons" (click)="save()">check</span>
</div>
<div>
    <div>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="item.itemname">
      </mat-form-field>
    </div>
<div>
      <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" [(ngModel)]="item.price">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" [(ngModel)]="item.description">
      </mat-form-field>
    </div>
</div>
